.technologyList {
	display: flex;
}
.stackList {
	gap: 10px;
	text-align: start;
}

.socialsList {
	justify-content: space-evenly;
}

.horizontalOrientation {
	flex-direction: row;
}

.verticalOrientation {
	flex-direction: column;
}

