$background-color: #F0F0F0;
$box-border: 5px;

.container {
	position: absolute;
	top: 400px;
	left: 300px;
	width: 500px;
	height: 180px;
	padding: 30px $box-border $box-border;
	font-family: "Segoe UI", "Tahoma", sans-serif;
	background: repeating-linear-gradient(45deg, rgb(25 40 55 / 75%) 35%, rgb(65 85 100 / 75%) 40%, rgb(65 85 100 / 75%) 42%, rgb(25 40 55 / 75%) 50%, rgb(25 40 55 / 75%) 55%, rgb(70 85 100 / 75%) 60%, rgb(70 85 100 / 75%) 75%, rgb(25 40 55 / 75%) 90%);
	border: 1px solid rgb(2 3 4 / 86%);;
	border-radius: 6px;
	box-shadow: inset 0 0 0 1px hsl(0deg 0% 61.56% / 92%), 0 7px 19px rgb(0 0 0 / 90%);
	backdrop-filter: blur(3px);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	padding: 25px;
	background-color: $background-color;
	border: 1px solid rgb(24 29 31 / 71%);
	border-radius: 1px;
	box-shadow: 0 0 0 1px rgb(207 210 214 / 71%);
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.image {
	width: 40px;
	aspect-ratio: 1/1;
	user-select: none;
}

.errorText {
	font-weight: 500;
	font-size: 14px;

	&::selection {
		color: white;
		background-color: #3367D1;
	}
}

.okButton {
	min-width: 85px;
	height: 27px;
	padding: 5px 20px;
	font-weight: 600;
	font-size: 14px;
	background: $background-color;
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: 0 0 2px 0 #000000;

	&:hover {
		background-color: #e3e2e2;
	}

	&:active {
		background-color: #f1f1f1;
	}
}

.closeButton {
	position: absolute;
	inset-block-start: 0;
	inset-inline-end: $box-border;
	width: 45px;
	height: 20px;
	color: white;
	font-size: 14px;
	background: linear-gradient(rgb(225 168 159 / 91%), rgb(195 114 104 / 91%) 50%, rgb(170 52 36 / 91%) 55%, rgb(187 111 94 / 91%));
	border-radius: 0 0 4px 4px;
	box-shadow: inset 0 0 0 1px rgb(212 216 221 / 80%), 0 0 0 1px rgb(28 32 23 / 80%), 0 0 10px 1px rgb(220 113 86);

	&:hover, &:active {
		box-shadow: inset 0 0 0 1px rgb(212 216 221 / 80%), 0 0 0 1px rgb(28 32 23 / 80%), 0 0 10px 5px rgb(220 113 86);
	}
}