@import '@shared/styles/animations.scss';
$button-width: 150px;
$button-height: 40px;

.button {
	position: relative;
	inset-block-start: calc(20px + $button-height * 0.5);
	inset-inline-start: calc(100% - $button-width);
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: $button-width;
	min-height: $button-height;
	padding: 0 15px;
	overflow: hidden;
	color: var(--console-text);
	background-color: var(--console-color);
	font-weight: 900;
	border: none;
	cursor: pointer;
	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 10% 100%, 0 70%, 0 0);

	&::after {
		content: '⇒';
	}

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background: var(--console-text);
		translate: 98% 0;
		transition: translate 0s linear;
	}

	&:hover, &:active {
		&::after {
			animation: flickering 0.8s infinite;
		}
	}

	&:active {
		&::before {
			mix-blend-mode: soft-light;
			transition: translate 0.6s linear;
			translate: 0 0;
		}
	}

	&:focus {
		outline: none;
	}

	&:focus-visible {
		outline: 5px solid black;
	}
}