.technologyList {
	padding: 20px;
	display: flex;
}
.stackList {
	grid-area: stack;
	gap: 10px;
	color: var(--console-text);
	background-color: var(--console-color);
	border: 2px solid var(--console-text);
	outline: 3px solid var(--console-color);;
	box-shadow: 1px 1px 1px var(--accent-color);
}
.socialsList {
	grid-area: socials;
	justify-content: space-evenly;
}
.horizontalOrientation {
	flex-direction: row;
}
.verticalOrientation {
	flex-direction: column;
}

@keyframes appearance {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}