.menu {
	padding: 5px 0;
	width: 200px;
	position: absolute;
	list-style-type: none;
	border: 1px solid black;
	background-color: var(--console-color);
	z-index: 200;
}

.menuItem {
	padding: 5px 15px;
	&:hover, &:active {
		background-color: #363636;
	}
	&:focus {
		outline: none;
	}
}
.menuButton {
	color: white;
	padding: 0;
	margin: 0;
	font-size: 15px;
}