.container {
	max-width: 500px;
	padding: 20px;
	color: var(--console-text);
	background-color: var(--console-color);
	border: 2px solid var(--console-text);
	outline: 3px solid var(--console-color);
	font-family: var(--console-font-family);
	font-weight: 700;
}

.title {
	margin: 0;
	font-weight: 900;
	font-size: 20px;
	text-align: start;
	border-block-end: 2px solid var(--console-text);
}

.content {
	padding: 15px 15px 0;
	user-select: text;
	font-size: 1em;
}