$label-offset-x: 15px;
$label-offset-y: 15px;
.labelContainer {
	position: absolute;
	inset-inline-end: calc((100% - var(--layout-height)) / 2 + $label-offset-x);
	inset-block-start: calc((100% - var(--layout-height)) / 2 + $label-offset-y);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	padding: 5px;
	&:hover {
		background-color: rgba(148, 153, 164, 0.4);
	}
}
.labelImage {
	width: 40px;
	aspect-ratio: 1/1;
}
.labelDescription {
	max-width: 80px;
	cursor: default;
	color: white;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	padding: 2px;
	&:focus {
		cursor: text;
		color: black;
		border: 1px solid black;
		background-color: white;
		outline: none;
	}
}
.focused {
	background-color: rgba(79, 104, 157, 0.4);
	&:hover {
		background-color: rgba(79, 104, 157, 0.4);
	}
}