.labelContainer {
	position: absolute;
	inset-block-start: calc(var(--layout-offset) + var(--label-offset));
	inset-inline-end: calc(var(--layout-offset) + var(--label-offset));
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 5px;

	&:hover {
		background-color: rgb(148 153 164 / 40%);
	}
}

.labelImage {
	width: 40px;
	aspect-ratio: 1/1;
}

.labelDescription {
	max-width: 80px;
	padding: 2px;
	color: white;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	background-color: rgb(255 255 255 / 0%);
	border: none;
	cursor: default;

	&:focus {
		color: black;
		background-color: white;
		border: 1px solid black;
		outline: none;
		cursor: text;
	}
}

.focused {
	background-color: rgb(79 104 157 / 40%);

	&:hover {
		background-color: rgb(79 104 157 / 40%);
	}
}