$accent-color: #b4b4b4;
$bg-color: #171717;
.main {
	background-color: $bg-color;
	width: 100dvw;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: OverpassMono, monospace;
}
.layout {
	position: absolute;
	inset-inline-start: 50%;
	inset-block-start: 50%;
	translate: -50% -50%;
	width: 90%;
	height: 90%;
	background-image: url('@images/bg.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: blur(2px);
	border-radius: 25px;
	z-index: 0;
}
$bottom-padding: 20px;
.content {
	padding: 40px 30px $bottom-padding 40px;
	border: 3px dashed $accent-color;
	z-index: 10;
	user-select: none;
}
$button-width: 150px;
$button-height: 40px;
$button-color: #1C1C1CFF;
$button-color-text: green;
.button {
	position: relative;
	inset-inline-start: calc(100% - $button-width);
	inset-block-start: calc($bottom-padding + $button-height * 0.5);
	min-width: $button-width;
	min-height: $button-height;
	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 10% 100%, 0 70%, 0 0);
	background-color: $button-color;
	color: $button-color-text;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	font-weight: 900;
	overflow: hidden;
	cursor: pointer;
	border: none;
	z-index: 1;
	&:after {
		content: '⇒';
	}
	&:before {
		content: '';
		position: absolute;
		inset: 0;
		background: $button-color-text;
		translate: 98% 0;
		transition: translate 0s linear;
	}
	&:hover, &:active {
		&:after {
			animation: flickering 0.8s infinite;
		}
	}
	&:active {
		&:before {
			transition: translate 0.8s linear;
			mix-blend-mode: soft-light;
			translate: 0 0;
		}
	}
	&:focus {
		outline: none;
	}
	&:focus-visible {
		outline: 5px solid black;
	}
}