$bg-color: #171717;

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100dvw;
	height: 100dvh;
	font-family: "OverpassMono", monospace;
	background-color: $bg-color;
}

.layout {
	position: absolute;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	z-index: 0;
	width: 90%;
	height: 90%;
	background-image: url('@images/bg.webp');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 25px;
	filter: blur(2px);
	translate: -50% -50%;
}
.content {
	padding: 2.5% 5%;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 2fr 2fr 1fr;
	grid-template-areas:
			'stack . .'
			'. . .'
			'. . socials';
	height: 100%;
	width: 100%;
	z-index: 10;
}
