.technology {
	&:hover {
		.technologyItem {
			color: white;
		}
		img {
			filter: none;
		}
	}
}
.technologyItem {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	gap: 10px;
	user-select: none;
	font-weight: 600;
	font-size: 14px;
	img {
		filter: grayscale(1);
		object-position: center;
		object-fit: contain;
		max-width: 20px;
		aspect-ratio: 1/1;
	}
}

.technologyLink {
	cursor: pointer;
	img {
		max-width: 30px;
	}
}